body {
  margin: 0;
  padding: 0;
  background: #3d087b;
  background-attachment: scroll;
}
.head {
  margin-top: 24px;
  display: flex;
}
.logo {
  position: absolute;
  left: 142px;
}
.left {
  width: 50%;
  display: flex;
  align-items: center;
}

.clock {
  width: 41%;
  background: rgb(252, 251, 251);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  border: 2px solid #3d087b;
}
.time {
  font-size: 20px;
  color: #3d087b;
  font-family: "Manrope", sans-serif;
}
.common {
  width: 82px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 43px;
  font-size: -1px;
  text-align: center;
  margin: 15px 0px;
  font-size: 37px;
  background: #f6e2ff;
  color: #8a11bf;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  border-radius: 7px;
}
.dot {
  font-size: 50px;
  color: #8a11bf;
}

.text {
  display: flex;
  align-items: end;
  font-size: 20px;
  position: absolute;
  font-weight: 100;
  top: 105px;
}
.AM-Pm {
  background-color: rgb(101, 32, 165);
  color: white;
}
.shadow {
  position: absolute;
z-index: -1;
width: 31%;
background: rgb(252, 251, 251);
height: 40px;
top: 123px;
right: 165px;
border: 3px solid aliceblue;
border-radius: 12px;
opacity: 0.9;
}
.shadow2 {
  position: absolute;
  z-index: -1;
  width: 25%;
  background: grey;
  height: 54px;
  top: 129px;
  right: 212px;
  border-radius: 12px;
  opacity: 0.22;

}
.mid{
  display: flex; justify-content: space-evenly;
  margin: 58px -4px 10px 11px;
}
.mid1{
  margin-top: -10px;
}
.alarm {
  font-size: 20px;
  width: 500px;
height: 255px;
  background-color: white;
  border: 2px solid white;
border-radius: 15px;
box-sizing: border-box;
}
.wakeup{
  padding-top: 4px;
}
.flex{
  position: relative;
  display: flex;justify-content: space-evenly;
  margin: 14px -88px 10px -8px;

}
.select{
  width: 52%;
}
select{
  width: 70%;
  height: 31px;
  transition-duration: 0.3s;
}
select:hover{
  color: #6E54EC;
}
.verticalline{
  position: relative;
  background-color: rgb(10, 10, 10);
  height: 27px;
  width: 0px;
  border: 1px solid black;
  opacity: 0.4;
  left: 46px;
  
}

.pic {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
 
  width: 500px;
  height: 400px;
 font-family: "Bauhaus 93";
 color: #8E53F0;font-size: 25px;
}
/* .pic img{
  position: absolute;
top: -5px;
left: -26px;
width: 495px;
height: 395px;
} */
.lunchtext {
  margin: 2px 34px 55px 10px;
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 28px;
}

.wish{color: white;
  display: flex;
  margin: 10px 0px;
  align-items: center;
  background: #563383;
width: 485px;
height: 77px;
font-family: "Bauhaus 93";
font-size: 27px;
padding-left: 20px;
border: 1px solid var(--unnamed-color-ededed);
border-radius: 10px;
content-visibility: 1;
opacity: 0.93;

}
#btn{
  background-image: linear-gradient(to right, #6E54EC , #CB52F8 , #FC5EFF , #F1A7C5 );
  color: aliceblue;
width: 299px;
height: 50px;
cursor: pointer;
font-size: 19px;
font-family: sans-serif;
transition-duration: 0.4s;
border-radius: 10px;
}
#btn:hover{
  background-image: linear-gradient(to left, #6E54EC , #CB52F8 , #FC5EFF , #F1A7C5);
}
